# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# Sensitive Info
.env
