[app]
{{ public_ip }} ansible_user=ubuntu ansible_ssh_private_key_file={{ ssh_key_path }} ansible_python_interpreter=/usr/bin/python3

[app:vars]
ansible_ssh_common_args=-o StrictHostKeyChecking=accept-new -o UserKnownHostsFile={{ known_hosts_path }}
