<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="header-container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"><a href="/"
                                                                                       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">The Vulnerable Blog</span> </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/post-list" class="nav-link">Post List</a></li>
            <li class="nav-item"><a href="/clickjacking.html" class="nav-link">Clickjacking Demo</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"><img src="/images/hero-image.jpg"
                                                   class="d-block mx-lg-auto img-fluid rounded-4"
                                                   alt="The Vulnerable Blog" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6"><h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to The Vulnerable
            Blog</h1>
            <p class="lead">
                Here you'll find vulnerabilities to be tested by our proprietary vulnerability scanner.
                Such vulnerabilities include XSS, SQLi, Clickjacking, Command Injection, IDOR, Brute Force, and more.
                We're sure you'll find something you like!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/new" class="btn btn-primary btn-lg px-4 me-md-2">Create a Post</a>
                <a href="/post-list" class="btn btn-outline-secondary btn-lg px-4">View Posts</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>